<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InserirPessoa</servlet-name>
        <servlet-class>servlets.InserirPessoa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirPessoa</servlet-name>
        <servlet-class>servlets.ExcluirPessoa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarPessoa</servlet-name>
        <servlet-class>servlets.AtualizarPessoa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarLogin</servlet-name>
        <servlet-class>servlets.ValidarLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirHistoria</servlet-name>
        <servlet-class>servlets.InserirHistoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarHistoria</servlet-name>
        <servlet-class>servlets.AtualizarHistoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirHistoria</servlet-name>
        <servlet-class>servlets.ExcluirHistoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pesquisar</servlet-name>
        <servlet-class>servlets.Pesquisar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirForum</servlet-name>
        <servlet-class>servlets.InserirForum</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarForum</servlet-name>
        <servlet-class>servlets.AtualizarForum</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirForum</servlet-name>
        <servlet-class>servlets.ExcluirForum</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InserirPessoa</servlet-name>
        <url-pattern>/InserirPessoa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirPessoa</servlet-name>
        <url-pattern>/ExcluirPessoa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarPessoa</servlet-name>
        <url-pattern>/AtualizarPessoa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarLogin</servlet-name>
        <url-pattern>/ValidarLogin</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>inicial.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>InserirHistoria</servlet-name>
        <url-pattern>/InserirHistoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarHistoria</servlet-name>
        <url-pattern>/AtualizarHistoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirHistoria</servlet-name>
        <url-pattern>/ExcluirHistoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pesquisar</servlet-name>
        <url-pattern>/Pesquisar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirForum</servlet-name>
        <url-pattern>/InserirForum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarForum</servlet-name>
        <url-pattern>/AtualizarForum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirForum</servlet-name>
        <url-pattern>/ExcluirForum</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error500.jsp</location>
    </error-page>
    
</web-app>
